# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
.env/


# Data
data/
*.csv
*.parquet

# Models
*.pkl
*.joblib

# Logs
*.log

# VS Code
.vscode/

# MacOS
.DS_Store



# Misc
*.swp



