# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
*.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Data
data/*.csv
data/*.parquet
data/*.json

# Models
models/*.pkl
